:root {
  --dark-color: #333;
  --light-color: #fff;
  --main-color: #A9907E;
  --second-color: #F3DEBA;
  --third-color: #ABC4AA;
  --fourd-color: #675D50;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  color: black;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  min-height: 100vh;
  min-width: 100%;
  overflow: hidden;
  background-color: var(--dark-color);
  display: grid;
  place-content: center;
  background: linear-gradient(135deg, var(--main-color), var(--second-color), var(--third-color), var(--fourd-color));
}

#hold {
  position: absolute;
  font-size: 10vw;
  color: var(--light-color);
  opacity: 0.4;
  transition: 300ms all;
  top: 0;
  width: 100%;
  text-align: center;
  animation: linear move 10s alternate infinite;
}

@keyframes move {
  0% {
    top: 0%;
  }
  100% {
    top: 10%;
  }
}
.card {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(51, 51, 51, 0.1411764706);
  width: clamp(240px, 90vw, 550px);
  color: var(--light-color);
  padding: 40px 35px;
  margin: 0 auto;
  border-radius: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .searchBox {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .searchBox input, .card .searchBox button {
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.245);
}
.card .searchBox input {
  border: none;
  outline: none;
  background-color: var(--light-color);
  border-radius: 1rem;
  opacity: 0;
  color: var(--dark-color);
  padding: 10px 25px;
  height: 4rem;
  width: 0%;
  font-size: 1.25em;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -99;
  transition: 200ms all;
}
.card .searchBox button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: var(--light-color);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  transition: 200ms all;
  cursor: pointer;
}
.card .searchBox button img {
  width: 1.5rem;
}
.card .searchBox button:focus input,
.card .searchBox button input:focus {
  width: 100%;
  opacity: 1;
  z-index: 99;
}
.card #root {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.card #root .wether {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.card #root .wether img {
  width: 12.5rem;
}
.card #root .wether div h1 {
  color: white;
}
.card #root .wether div h1:first-child {
  font-size: 6rem;
  font-weight: 500;
  line-height: 1.12;
}
.card #root .wether div h1:last-child {
  font-size: 3.4rem;
  font-weight: 300;
  line-height: 1;
}
.card #root .detiel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  place-items: center;
  gap: 20px;
}
.card #root .detiel .col {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.card #root .detiel .col img {
  height: 5rem;
  aspect-ratio: 1/1;
}
.card #root .detiel .col div {
  text-align: left;
  height: 100%;
}
.card #root .detiel .col div span.km {
  font-size: 1.5rem !important;
  color: var(--light-color);
  margin-top: 8px;
}
.card #root .detiel .col div p {
  color: var(--light-color);
}
.card #root .detiel .col div p:not(.wind, .humidity) {
  font-size: 1.5rem;
  font-weight: 600;
  height: 25%;
}
.card #root .detiel .col div .wind, .card #root .detiel .col div .humidity {
  height: 5rem;
  display: flex;
  align-items: center;
  line-height: 1;
  font-size: 3rem;
  font-weight: 300;
}
.card #hint {
  color: var(--light-color);
  position: absolute;
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.75;
  font-size: 1.2rem;
}

@media (max-width: 767px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 11px;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 300px) {
  html {
    font-size: 10px;
  }
}/*# sourceMappingURL=style.css.map */